.banner {
  position: relative;
  height: 223px;
  border-radius: 25px;
  &__details {
    &__text {
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      color: $secondary-text-color;
      padding-left: 275px;
      padding-top: 35px;
    }
  }
}
